.searchbar{
    position: relative;
    display: flex;
    align-items: center;
    width: 400px;
    background-color: rgb(209, 208, 208);
    border-radius: 9px;
}

.btn-search{
    
    border: none;
    outline: none;
    background-color: transparent;
    height: 30px;
    width: 30px;
}

.inputType{
  
    height: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    padding-left: 5px;
    font-size: 16px;
    width: 100%;
}

.btnIcon{
    color: #777;
    font-size: 20px !important;
    padding-top: 5px;
}